.hide {
  display: none;
}
.body {
  background-color: white;
  color: black;
}
.main-container {
  text-align: center;
  width: 300px;
  border: 1px black;
  border-style: solid;
  padding: 15px;
  margin: 0 10%;
  background-color: orange;
}
/* Ändrar färg på main och list containrarna när man klickar på
   Darkmode knappen. */
.dark-mode .main-container {
  background: rgb(177, 115, 0);
}
.dark-mode .list-container {
  background: rgb(177, 115, 0);
}
.list-container {
  text-align: center;
  width: 300px;
  border: 1px black;
  border-style: solid;
  padding: 15px;
  margin: 0 10%;
  background-color: orange;
}
.btn {
  color: white;
  background-color: rgba(128, 0, 0, 0.3);
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}
.btn.dark-mode {
  color: black;
}
.answerRC-btn {
  border-radius: 5px;
  text-align: center;
  min-width: 2px;
  border: 1.5px solid black;
  background-color: rgba(128, 0, 0, 0.3);
  margin: 5px;
  padding: 2px;
  cursor: pointer;
  display: inline-block;
}
.dark-mode {
  background-color: rgb(35, 35, 35);
  color: rgb(227, 227, 227);
  border: 1px white;
}
#darkMode {
  position: relative;
  right: 125px;
  bottom: 13px;
}
