.main-container {
  text-align: center;
  width: 300px;
  border: 1px black;
  border-style: solid;
  padding: 15px;
  margin: 20px;
  background-color: orange;
}
.list-container {
  text-align: center;
  width: 300px;
  border: 1px black;
  border-style: solid;
  padding: 15px;
  margin: 20px;
  background-color: orange;
}
.btn {
  color: white;
  background-color: rgba(128, 0, 0, 0.3);
  padding: 3px;
  margin: 2px;
}
.btn.dark-mode {
  color: black;
}
.answer-btn {
  border: 1.5px solid black;
  background-color: rgba(128, 0, 0, 0.3);
  margin: 10px;
  padding: px;
}
.answer-btn:focus {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  color: white;
  background-color: rgba(0, 17, 202, 0.594);
}
.hide {
  display: none;
}
.body {
  background-color: white;
  color: black;
}
.answerRC-btn {
  border: 1.5px solid black;
  background-color: rgba(128, 0, 0, 0.3);
  margin: 10px;
  padding: 1px;
  cursor: pointer;
}
.answerRC-btn:focus {
  color: white;
  background-color: rgba(0, 17, 202, 0.594);
}
.dark-mode {
  background-color: black;
  color: white;
  border: 1px white;
}
/* Gör så här för allt som ska darkmode */
.dark-mode .main-container {
  background: yellow;
}
#darkMode {
  position: relative;
  right: 125px;
  bottom: 13px;
}
